body {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

